/*
#imvBurgerOnMouseClicked :p
    -fx-background-color: #105d88; !* Button background color when pressed *!
    -fx-translate-y: 5px; !* Move the button 2px down when pressed *!
    -fx-translate-x: 5px; !* Move the button 2px to the right when pressed *!*/
